{%extends "admin.html"%}
{%block admincontent%}
    <div class="editmenu">
        <ul>
            <button type="button"><a href="{{ url_for('admin_new_ticket_sev')}}">New</a></button>
        </ul>
    </div>
    
    <table id="sevtable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for sev in allsev %}
                <tr>
                    <td><a href="{{ url_for('admin_edit_sev_details', id=sev[0])}}">{{ sev[1] }}</a></td>
                    <td>{{ sev[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}