{%extends "admin.html"%}
{%block admincontent%}
    <h4>{{ sev[1] }}</h4>
    <form id="editsevdetails" method="POST" >
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" name="id" value={{ sev[0] }} readonly><br>

            <label for="sevname">Name</label>
            <input type="text" class="form-control" name="sevname" value={{ sev[1] }}><br>

            <label for="active">Active</label>
            <select name="active" class="form-control">
                {% if sev[2] == True %}
                    <option value="true" selected>True</option>
                    <option value="false">False</option>
                {% elif sev[2] == False %}
                    <option value="true">True</option>
                    <option value="false" selected>False</option>
                {% else %}
                    <option value="true" selected>True</option>
                    <option value="false">False</option>
                {% endif %}
            </select><br>

            <input type="submit" class="btn btn-primary mb-2" name="submit" value="Update">
        </div>
    </form>
{%endblock%}