{%extends "layout.html"%}
{%block content%}
    <div class="sidenav">
        
        <ul>
            Users
            <li><a href="{{ url_for('admin_new_user') }}">New User</a></li>
            <li><a href="{{ url_for('admin_edit_users') }}">Edit Users</a></li>
        </ul>
        
        <ul>
            Settings
            <li><a href="{{ url_for('admin_edit_ticket_types') }}">Ticket Types</a></li>
            <li><a href="{{ url_for('admin_edit_ticket_sev') }}">Ticket Severity</a></li>
            <li><a href=#>Ticket Status</a></li>
        </ul>
    </div>

    <div class="admincontent">
        {%block admincontent%}
        {%endblock%}
    </div>
{%endblock%}