{%extends "admin.html"%}
{%block admincontent%}
    <div class="editmenu">
        <ul>
            <button type="button"><a href="{{ url_for('admin_new_ticket_types') }}">New</a></button>
        </ul>
    </div>
    
    <table id="typestable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for type in alltypes %}
                <tr>
                    <td><a href={{ url_for('admin_edit_types_details', id=type[0])}}>{{ type[1] }}</a></td>
                    <td>{{ type[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}