{%extends "admin.html"%}
{%block admincontent%}
    <div class="editmenu">
        <ul>
            <button type="button"><a href="{{ url_for('admin_new_ticket_types') }}">New</a></button> 
            <button type="button"><a href=#>Delete</a></button> 
        </ul>
    </div>
    
    <table class="table">
            <tr>
                <th>Name</th>
            </tr>
        {% for type in alltypes %}
            
            <tr>
                <td><a href=#>{{ type[1] }}</a></td>
            </tr>
        {% endfor %}
    </table>
{%endblock%}