{%extends "admin.html"%}
{%block admincontent%}
    <div class="editmenu">
        <ul>
            <button type="button"><a href="{{ url_for('admin_new_ticket_status')}}">New</a></button>
        </ul>
    </div>
    
    <table id="statustable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for status in allstatus %}
                <tr>
                    <td><a href="{{ url_for('admin_edit_status_details', id=status[0])}}">{{ status[1] }}</a></td>
                    <td>{{ status[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}