body
{
    background-color:#efefef;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
}

.navbar .navbar-brand
{
    color: #4c47ef;
}

.container
{
    padding: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
}

.form-login
{
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.form-control
{
    border-radius: 10px;
}

h4
{ 
    border:0 solid #fff; 
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
}

.sidenav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: block;
}

.sidenav ul
{
    list-style-type: none;

}

.sidenav li a
{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.admincontent
{
    margin-left:25%;
}